extends layout

block content
    -data = data || {}
    if errors
        ul(class="text-center font-italic")
        for error in errors
            li(class="text-center font-italic text-danger")= error.msg
    form(action="." method="POST" class="form-registration")
        label(for="email") Email:
        input(
            type="email"
            id="email"
            name="email"
            class="form-control"
            value=data.email
        )

        label(for="password") Password:
        input(
            type="password"
            id="password"
            name="password"
            class="form-control"
            value=data.password
        )
        a(href="/passrecovery") Has olvidado tu password?

        input(
            type="submit" 
            value="Login"
            class="btn btn-lg btn-primary btn-block"
        )